.content  {
  background-color: #1d1d1d;
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;  
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 8px;
  z-index: 1
}   

.content > div {
  width: 33%;
  padding-right: 8px
}

.content > div:first-child {
  min-width: 200px
}

.content > div:nth-child(2) {  
  min-width: 200px;
  padding-right: 0;
}

.content > div:nth-child(3) {
  min-width: 200px
}

.content > div:last-child {
  min-width: 200px;
  padding-right: 0;
}

.vertical > div {
  height: 100%
}

.vertical-split {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: nowrap
}

.vertical-split > div {
  height: 50%
}

.vertical-split > div:first-child {
  margin-bottom: 4px
}
.card {
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.card-header {
  padding: 8px 4px;
}

.card-body{
  flex: auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding: 2px;
}

.card-body th {
  border-top: 0;
}

.card-body .nav-tabs {
  border-color: #95999c;
}

.card-body .nav-item.nav-link {
  font-size: 80%;
  font-weight: bold;
  background-color: inherit;
  color: inherit;
  padding: 4px 8px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-color: #95999c;
  border-radius: 0px;
}

.card-body .nav-item.nav-link.active {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #007bff;
}

td.contributions-project {
  cursor: pointer;
}

td.contributions-claimRefund {
  cursor: pointer;
}

tr.refunds-refund {
  cursor: pointer;
}

tr.transfers-transfer {
  cursor: pointer;
}
form > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 10px 5px;
}

form > div > div {
    -ms-flex: 1;
    flex: 1;
    max-width: 500px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    position: relative;
}

form > div > label {
    margin-right: 10px;
    min-width: 150px;
    text-align: right;
    padding: 6px 9px;
}

form > div > div > span {
    border: none;
    font-weight: bold;
    color: #FF7F7F  ;
}
